.login-button {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}

.nav-section {
  display: flex;
  justify-content: center;
}

.menu-area {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-list {
  display: flex;
  list-style-type: none;
}
.menu-list li{
  margin: 10px;
}

.search-area {
  border-bottom: 1px solid black;
  margin-left: 10px;
}
.search-area input {
  border: none;
}