/* Login */
.login-button {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
  cursor: pointer;
}
.user-icon {
  display: flex;
  margin: auto 0;
}

.form-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.login-box-size {
  width: 500px !important;
}


.nav-section {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.menu-area {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.menu-list {
  display: flex;
  list-style-type: none;
  margin: 0;
}
.menu-list li{
  margin: 0 10px;
}

.search-area {
  border-bottom: 1px solid black;
  margin-left: 10px;
}
.search-area input {
  border: none;
}

/* Product card */
.product-card-area img{
  width: 300px;
  height: 450px;
  margin-bottom: 10px;
  cursor: pointer;
}
.product-card-area img:hover{
  transform: scale(1.05);
}
.product-card-area div{
  margin:0.5rem;
}


@media screen and (max-width:430px) {
  .form-area, .nav-section, .menu-area {
    flex-direction: column;
    align-items: center;
  }
  .menu-list {
    display: flex;
    justify-content: center;
    padding-left: 0;
    font-size: 10px;
  }
  .login-button {
    font-size: 12px;
    font-weight: 900;
  }
  .search-area {
    margin-top: 10px;
    font-size: 10px;
  }
  .product-card-area {
    margin: 0 auto;
    width: 90%;
  }
  .product-card-area img {
    display: block;
    width: 300px;
    height: auto;
    max-width: 100%;
    object-fit: cover;
  }
}